body {
  margin: 0 auto;
  padding: 0;

  width: 100vw;
  font-family: "Exo 2";
  overflow-x: hidden;
  background: #5886FF;
}
/* обводка стариков */
.ba1:hover {
 border: 7px solid #1E2165;}

 .de1:hover {
  border: 7px solid #1E2165;}

.text1 {
  position: absolute;
  width: 602px;
  height: 119px;
  left: 33px;
  top: 2px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 108px;

  color: #000000;
}
.text2 {
  position: absolute;
  width: 396px;
  height: 119px;
  left: 40px;
  top: 150px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  color: #000000;
}

.text3 {

  position: absolute;
  width: 419px;
  height: 150px;
  left: 40px;
  top: 260px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  color: #000000;

}

.text4 {
  position: absolute;
  width: 389px;
  height: 150px;
  left: 40px;
  top: 608px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  color: #000000;
}
/* бабушка */
.ba1 {
  position: absolute;
  width: auto;
  height: 572px;
  left: 641px;
  top: 30px;
  border: 7px solid #5886FF;
}
/* дед */
.de1 {
  position: absolute;
  width: auto;
  height: 572px;
  left: 1071px;
  top: 30px;
  border: 7px solid #5886FF;
}

.vibrat1 {
  position: absolute;

  width: 303px;
  height: 72px;
  left: 870px;
  top: 620px;
  background: #FFFFFF;

}

.vibrat2 {
  position: absolute;

  width: 289px;
  height: 72px;
  left: 879px;
  top: 632px;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  color: #000000;
}

.classPOKAZAT {
  display: block;
  width: 100vw;
  height: 100vw;
}

.classSPRYATAT{
  display: none;
}
/* блок перехода по клику на бабку */
.s2 {
  background: #5886FF;
}
/* первые очки */
.slider__img{
  position: absolute;
  width: 571px;
  height: 623px;
  left: 128px;
  top: 204px;
  display: none;

}
.slider__img.current {
    display: block;
}


/* ворнинг */
.bud {
  position: absolute;
  width: 406px;
  height: 155px;
  left: 971px;
  top: 38px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  color: #000000;


}
/* бабл почему большие очки */
.block1 {
  position: absolute;
  width: 571px;
  height: 207px;
  left: 21px;
  top: 36px;
}

.pochemuochki {
  position: absolute;
  width: 530px;
  height: 99px;
  left: 24px;
  top: 31px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

}
/* стрелочки */
/* .prev.button {
  position: absolute;
width: 70px;
height: 70px;
left: 43px;
top: 507px;

}

.next.button {
  position: absolute;
width: 70px;
height: 70px;
left: 714px;
top: 507px;
} */

.levo1 {
  position: absolute;
width: 70px;
height: 70px;
left: 43px;
top: 507px;
}

.pravo1 {
  position: absolute;
width: 70px;
height: 70px;
left: 714px;
top: 507px;

}

/* ЗУБЫ ВСТАВНЫЕ 1 */
.zub1 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: 755px;
  top: 735px;

}
/* ЗУБЫ ВСТАВНЫЕ 2 */
.zub2 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: 755px;
  top: 735px;

}
/* ЗУБЫ ВСТАВНЫЕ 3 ВОРНИНГ  */
.zub3 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: 755px;
  top: 735px;

}
/* вопросительный блок про зубы  */
.block2 {
  position: absolute;
  width: 498px;
  height: 284px;
  left: 875px;
  top: 438px;

}

.pochemuzub {
  position: absolute;
  width: 410px;
  height: 151px;
  left: 47px;
  top: 46px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  color: #000000;

}
/*стрелочки у зубов  */
.levo2 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 670px;
  top: 986px;
}

.pravo2 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1341px;
  top: 986px;
}

/* БЛОКИ ПРО СУМКИ */

.sumka1 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: 128px;
  top: 1148px;
}
.sumka2 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: 128px;
  top: 1148px;
}
.sumka3 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: 128px;
  top: 1148px;
}
/* бабл над сумкой */
.block3 {
  position: absolute;
  width: 552px;
  height: 230px;
  left: 21px;
  top: 933px;

}

.zagadka {
  position: absolute;
  width: 530px;
  height: 131px;
  left: 26px;
  top: 40px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  color: #000000;
}

/* стрелки у сумки */
.levo3 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 43px;
  top: 1399px;
}
.pravo3 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 714px;
  top: 1399px;
}

.button__finish {
  position: absolute;
  width: 459px;
  height: 161px;
  left: 867px;
  top: 1560px;
  cursor: pointer;

}

.slider__error {
      display: none;
      width: 798px;
      height: 1310px;
}

.error{
      position: relative;
      width: 100vw;
      height: 100vw;
      background-color: black;
}

.er {
  color: #FF5858;
  font-family: 'Exo 2';
font-size: 128px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.so {
  color: #FF5858;
font-family: 'Exo 2';
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.onet {
  color: #FFF;
text-align: center;
font-family: 'Exo 2';
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 75px;
}
.slider__good{
      display: none;
      width: 798px;
      height: 1310px;
}
.good{
  position: relative;
  width: 100vw;
  height: 100vw;
  background-color: white;
}
.stariki{
  position: relative;
  top: 15px;
  left: 180px;
}
.poz {
  color: #FF5858;
  font-family: 'Exo 2';
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.vi {
  color: #FF5858;
  font-family: 'Exo 2';
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.teper {
  color: #000;
  font-family: 'Exo 2';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.s3 {
  background: #5886FF;
}

/* usi 1 */
.usi1 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: 129px;
  top: 256px;
}

/* usi 2 */
.usi2 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: 129px;
  top: 256px;
}
/* usi  */
.usi3 {
  position: absolute;
  width: 571px;
  height: 571px;
  left: 129px;
  top: 256px; 

}
.shlapa1{
  position: absolute;
  width: 571px;
  height: 571px;
  left: 456px;
  top: 883px;
}
.shlapa2{
  position: absolute;
  width: 571px;
  height: 571px;
  left: 438px;
  top: 883px;
}
.shlapa3{
  position: absolute;
  width: 571px;
  height: 571px;
  left: 438px;
  top: 879px;
}
.block34 {
  position: absolute;
  width: 552px;
  height: 230px;
  left: 862px;
  top: 544px;
}
.usiki {
    position: absolute;
    width: 410px;
    height: 151px;
    left: 35px;
    top: 26px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
.bu2 {
  position: absolute;
  width: 459px;
  height: 161px;
  left: 88px;
  top: 1375px;
  cursor: pointer;
}
.bu {
  position: absolute;
  width: 406px;
  height: 155px;
  left: 971px;
  top: 38px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  color: #000000;


}
/* вопросительный блок про usi  */